@media screen and (max-width: 800px){
  .firstView{
    position: relative;
    width: 100%;
    padding: 40px 0px;
    &-spTop{
      margin: 40px auto;
      &-Img{
        width: 60%;
        display: block;
        margin: 0 auto;
      }
      &-Under{
        margin-top: 10px;
        color: #F5F5F5;
        width: 100%;
        text-align: center;
        font-size: 1.8rem;
        letter-spacing: 0.3rem;
      }
    }
    &-Content{
      width: 100%;
      height: 600px;
      &-LeftContent{
        display: none;
      }
      &-RightContent{
        max-width: 400px;
        height: 600px;
        margin: 0 auto;
        color: #F5F5F5;
        &-Upper{
          font-weight: bold;
          margin-bottom: 10px;
          &.Date{
            font-size: 2.6rem;
            letter-spacing: 0.4rem;
            text-align: center;
          }
          &.Distribution{
            font-size: 2.6rem;
            letter-spacing: 0.4rem;
            text-align: center;
          }
          &.Schedule{
            font-size: 2.6rem;
            letter-spacing: 0.4rem;
            text-align: center;
            color: #B08A00;
          }
        }
        &-Border{
          margin-bottom: 4px;
          display: block;
          width: 100%;
          height: 2px;
          background-color: #F5F5F5;
          &.Schedule{
            background-color: #B08A00;
          }
        }
        &-Under{
          font-size: 1.4rem;
          font-weight: bold;
          text-align: right;
          padding-right: 10px;
          
          &.DistWord{
            font-size: 2.0rem;
            margin-bottom: 5px;
          }
          &.Schedule{
            margin-bottom: 20px;
          }
        }
        &-Img{
          margin: 40px 0px;
          position: relative;
          &-Detail{
            width: 85%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,0%);
            transition: 0.5s;
          }
          &-Detail:hover{
            width: 80%;
            margin: 0 auto;
          }
        }
        &-Media{
          width: 100%;
          padding: 0 30px;
          box-sizing: border-box;
          &-Char{
            margin-top: 10px;
            font-size: 1.6rem;
            text-align: right;
          }
          &-Frame{
            width: 100%;
            height: 160px;
            margin: 10px 0px 20px;
          }
        }
        &-Schedule{
          color: #B08A00;
          width: 100%;
          padding: 0 30px;
          box-sizing: border-box;
          &-Date{
            font-size: 1.2rem;
          }
          &-Description{
            font-size: 1.6rem;
            margin-bottom: 20px;
            font-weight: lighter;
            a{
              font-size: 1.6rem;
              display: inline;
              color: #b39800;
              font-weight: lighter;
              letter-spacing: 0rem;
              transition: 0.2s;
            }
            a:hover{
              color: #b79b00;
              letter-spacing: 0rem;
            }
          }
        }
        &-Btn{
          display: flex;
          justify-content: space-between;
          height: 60px;
          line-height: 60px;
          margin: 40px 30px 0px;
          &.odd{
            background-color: #E5D099;
          }
          &.even{
            background-color: #E5D099;
          }
          &-Char{
            width: 100%;
            text-align: center;
            line-height: 60px;
            color: #b39800;
            font-size: 2.0rem;
            letter-spacing: 1rem;
            font-weight: lighter;
            transition: 0.5s;
            text-decoration: none;
          }
          &-Char:hover{
            letter-spacing: 1.8rem;
          }
        }
        &-LogoLink{
          display: block;
          width: 380px;
          padding: 100px 10px;
        }
      }
    }
  }

  .firstViewTitleUpper{
    color: #F5F5F5;
    height: 280px;
    line-height: 450px;
    font-size: 8.6rem;
    text-align: left;
  }
  .firstViewTitleUnder{
    color: #F5F5F5;
    font-size: 8.6rem;
    text-align: left;
    &.ABOUT{
      letter-spacing: 1.4rem;
    }
    &.ACTIVITIES{
      font-size: 6.9rem;
      letter-spacing: -0.3rem;
    }
    &.SCHEDULE{
      font-size: 6.9rem;
      letter-spacing: -0.3rem;
    }
    &-Sub{
      color: #F5F5F5;
      width: 400px;
      line-height: 76px;
      height: 76px;
      text-align-last: center;
      &.Top{
        font-size: 3.6rem;
      }
      &.About{
        font-size: 2.4rem;
        letter-spacing: 0.4rem;
      }
      &.Activities{
        font-size: 2.4rem;
        letter-spacing: 0.07rem;
      }
    }
  }

  .odd{
    background-color: #333333;
  }
  .even{
    background-color: #F5F5F5;
    color: #B08A00;
  }
}

@media screen and (min-width: 801px){
  .firstView{
    position: relative;
    width: 100%;
    height: 824px;
    padding: 100px 0px;
    &-Content{
      position: absolute;
      width: 800px;
      height: 600px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      display: flex;
      &-LeftContent{
        width: 400px;
        height: 600px;
        line-height: 600px;
      }
      &-RightContent{
        position: relative;
        width: 400px;
        height: 600px;
        color: #F5F5F5;
        &-Upper{
          font-weight: bold;
          &.Date{
            font-size: 3.6rem;
            letter-spacing: 0.4rem;
          }
          &.Distribution{
            font-size: 3.6rem;
            letter-spacing: 1.1rem;
          }
          &.Schedule{
            font-size: 3.6rem;
            letter-spacing: 0.4rem;
          }
        }
        &-Border{
          margin-bottom: 4px;
          display: block;
          width: 100%;
          height: 2px;
          background-color: #F5F5F5;
        }
        &-Under{
          font-size: 1.4rem;
          font-weight: bold;
          text-align: right;
          
          &.DistWord{
            font-size: 2.0rem;
            margin-bottom: 5px;
          }
          &.Schedule{
            margin-bottom: 20px;
          }
        }
        &-Img{
          margin: 40px 0px;
          position: relative;
          &-Detail{
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,0%);
            transition: 0.5s;
          }
          &-Detail:hover{
            width: 95%;
            margin: 0 auto;
          }
        }
        &-Media{
          width: 100%;
          &-Char{
            margin-top: 10px;
            font-size: 1.6rem;
            text-align: right;
          }
          &-Frame{
            width: 100%;
            height: 160px;
            margin: 10px 0px 20px;
          }
        }
        &-Schedule{
          width: 100%;
          &-Date{
            font-size: 1.2rem;
          }
          &-Description{
            font-size: 1.6rem;
            margin-bottom: 20px;
            font-weight: lighter;
            a{
              font-size: 1.6rem;
              display: inline;
              color: #b39800;
              font-weight: lighter;
              letter-spacing: 0rem;
              transition: 0.2s;
              text-decoration: none;
            }
            a:hover{
              color: #b79b0099;
              letter-spacing: 0rem;
            }
          }
        }
        &-Btn{
          display: flex;
          justify-content: space-between;
          position: absolute;
          bottom: 4px;
          width: 100%;
          height: 60px;
          line-height: 60px;
          &-Left{
            width: 10px;
            border-top: 2px solid #F5F5F5;
            border-left: 2px solid #F5F5F5;
            border-bottom: 2px solid #F5F5F5;
          }
          &-Char{
            width: 100%;
            text-align: center;
            line-height: 60px;
            color: #F5F5F5;
            font-size: 2.4rem;
            letter-spacing: 1rem;
            font-weight: lighter;
            transition: 0.5s;
            text-decoration: none;
          }
          &-Char:hover{
            letter-spacing: 1.8rem;
          }
          &-Right{
            width: 10px;
            border-top: 2px solid #F5F5F5;
            border-right: 2px solid #F5F5F5;
            border-bottom: 2px solid #F5F5F5;
          }
        }
        &-LogoLink{
          display: block;
          width: 380px;
          padding: 100px 10px;
        }
      }
    }
  }
  
  .firstViewTitleUpper{
    color: #F5F5F5;
    height: 280px;
    line-height: 450px;
    font-size: 8.6rem;
    text-align: left;
  }
  .firstViewTitleUnder{
    color: #F5F5F5;
    font-size: 8.6rem;
    text-align: left;
    &.ABOUT{
      letter-spacing: 1.4rem;
    }
    &.ACTIVITIES{
      font-size: 6.9rem;
      letter-spacing: -0.3rem;
    }
    &.SCHEDULE{
      font-size: 6.9rem;
      letter-spacing: -0.3rem;
    }
    &-Sub{
      color: #F5F5F5;
      width: 400px;
      line-height: 76px;
      height: 76px;
      text-align-last: center;
      &.Top{
        font-size: 3.6rem;
      }
      &.About{
        font-size: 2.4rem;
        letter-spacing: 0.4rem;
      }
      &.Activities{
        font-size: 2.4rem;
        letter-spacing: 0.07rem;
      }
    }
  }
  //footer
  .firstViewFooter{
    width: 100%;
    height: 50px;
    &Copyright{
      color: #F5F5F5;
      line-height: 50px;
      text-align: center;
      font-size: 1.2rem;
    }
    &.biography{
      background-color: #333333;
    }
  }
}
